<div class="header">
    <%- partial('_partial/language') %>
</div>
<div id="email">
    <div class="cb-bar"><span class="cb-title">Send me an email</span><span class="to-close-arrow"></span></div>
    <div class="cb-content aniview" av-animation="flip">
    Name
    <br/>
    <input name="realname"/>
    <br/>
    Email
    <br/>
    <input name="email"/>
    <br/>
    Message
    <br/>
    <textarea cols="40" rows="10" name="Message"></textarea>
    <br/>
    <input type="submit" value="Send"/>
    </div>
</div>
<div id="more-info">
    <div class="cb-bar"><span class="cb-title">More Infomation</span><span class="to-open-arrow"></span></div>
    <div class="cb-content content-hided aniview" av-animation="flip">
        <span>微信交流群:xxx</span>
        <span>qq交流群:xxx</span>
        <span>我的微博:xxx</span>
    </div>
</div>