<div id="email">
    <div class="cb-bar">Send me an email</div>
    Name
    <br/>
    <input name="realname"/>
    <br/>
    Email
    <br/>
    <input name="email"/>
    <br/>
    Message
    <br/>
    <textarea cols="40" rows="10" name="Message"></textarea>
    <br/>
    <input type="submit" value="Send"/>
</div>
