<div class="header">
    <%- partial('_partial/language') %>
</div>
<div id="email">
    <div class="cb-bar"><span class="cb-title"><%= __('cb-email.title') %></span><span class="arrow to-close-arrow"></span></div>
    <div class="cb-content aniview" av-animation="flip">
    <input name="realname" placeholder="Name"/>
    <input name="email" placeholder="Email"/>
    <textarea cols="40" rows="10" name="Message" placeholder="Message"></textarea>
    <br/>
    <input type="submit" value="Send"/>
    </div>
</div>
<div id="more-info">
    <div class="cb-bar"><span class="cb-title"><%= __('cb-info.title') %></span><span class="arrow to-close-arrow"></span></div>
    <div class="cb-content aniview" av-animation="flip">
        <span>微博:<a rel="nofollow" href="http://weibo.com/Yanmin-x" target="_blank">@Yanmin-x</a></span>
        <span>极客头条:<a rel="nofollow" href="http://toutiao.io/u/181364" target="_blank">@Yanmin-x</a></span>
        <span>Github:<a rel="nofollow" href="http://github.com/ellmi" target="_blank">@Yanmin-x</a></span>
    </div>
</div>