<div class="header">
    <%- partial('_partial/language') %>
</div>
<div id="email">
    <div class="cb-bar"><span class="cb-title"><%= __('cb-email.title') %></span><span class="arrow to-close-arrow"></span></div>
    <div class="cb-content aniview" av-animation="flip">
    <input name="realname" placeholder="Name"/>
    <input name="email" placeholder="Email"/>
    <textarea cols="40" rows="10" name="Message" placeholder="Message"></textarea>
    <br/>
    <input type="submit" value="Send"/>
    </div>
</div>
<div id="more-info">
    <div class="cb-bar"><span class="cb-title"><%= __('cb-info.title') %></span><span class="arrow to-open-arrow"></span></div>
    <div class="cb-content content-hided aniview" av-animation="flip">
        <span>微信交流群:xxx</span>
        <span>qq交流群:xxx</span>
        <span>我的微博:xxx</span>
    </div>
</div>
<div id="tip">
    <div class="cb-bar"><span class="cb-title"><%= __('cb-tip.title') %></span><span class="arrow to-open-arrow"></span></div>
    <div class="cb-content content-hided aniview" av-animation="flip">
        <img src="/css/images/pay.jpg">
    </div>
</div>