<div class="year">
    <span class="white-year">20</span>
    <span class="ink-year">16</span>
    <span class="left-year year-background aniview" av-animation="rotateInUpLeft"></span>
    <span class="right-year year-background aniview" av-animation="rotateInUpRight"></span>
</div>
<div class="guider">
    <% var j = 0, animation; %>
    <% for (var i in theme.menu){
        animation = "slideInLeft";
        if (j % 2 !== 0) {
            animation = "slideInRight";
        }
        j++;
    %>
    <a class="main-nav-link"
       href="<%- theme.sourceRoot %><%- url_for(theme.menu[i]) %>"><span class="aniview" av-animation="<%= animation%>"><%= __('menu.' + i.toLowerCase()) %></span></a>
    <% } %>
</div>