<div class="guider">

    <a class="main-nav-link" href="/home"><span>首页</span></a>

    <a class="main-nav-link" href="/"><span>博客</span></a>

    <a class="main-nav-link" href="/communication"><span>交流</span></a>

    <a class="main-nav-link" href="/about_me"><span>关于我</span></a>

</div>