<div class="homepage">
<div class="content">
    <div id="far-clouds" class="stage far-clouds"></div>
    <div id="near-clouds" class="stage near-clouds"></div>
</div>
<section class="main">
    <h2 class="cs-text"><%= __('homepage.first') %></h2>
    <h2 class="cs-text">&hearts;<%= __('homepage.second') %></h2>
    <h3 class="cs-text">2016</h3>
</section>
</div>