<div class="homepage">
    <div class="home-title">
        <h1>2015</h1>

        <div>
            <span>每天</span>
            <span>都是</span>
        </div><br>
        <div>
            <span>成长</span>
            <span>的</span>
            <span>好天气!</span>
        </div>
    </div>
    <!--<div class="logo"></div>-->
    <div class="copyright">Copyright © 2015 - Yanmin | Theme by Yanmin</div>
</div>
