<%- partial('_partial/head'), {}, {cache: true} %>
<body>
<div id="ContentContainer">
    <div id="profile">
        <%- partial('_partial/profile'), {}, {cache: true} %>
    </div>
    <div id="content">
        <%- body %>
    </div>
    <%- partial('_partial/after-footer'), {}, {cache: true} %>
</div>
</body>
</html>
