<%- partial('_partial/head') %>
<body>
	<div id="danmu"></div>
	<div id="ContentContainer">
		<div id="profile">
			<%- partial('_partial/profile') %>
		</div>
		<div id="main_content">
			<%- partial('_partial/main') %>
		</div>
		<%- partial('_partial/after-footer') %>
	</div>
</body>
</html>
