<%- partial('_partial/head') %>
<body>
<div id="ContentContainer">
    <%- partial('_partial/sidebar', null, {cache: true}) %>
    <div id="content">
        <%- body %>
    </div>
    <%- partial('_partial/after-footer') %>
</div>
</body>
</html>
