<%- partial('_partial/header') %>
<%- partial('_partial/nav-bar') %>
<div class="blogContents">
    <%- partial('_partial/article', {post: page, blog: false}) %>
</div>
<%- partial('_partial/copyright') %>