<%- partial('_partial/header',{breadCrumb: [{name: 'post',path:  url_for(page.path)}]}) %>
<%- partial('_partial/nav-bar') %>
<div class="blogContents">
    <%- partial('_partial/article', {post: page, blog: false}) %>
</div>
<%- partial('_partial/copyright') %>