<div class="header">
    <%- partial('_partial/bread-crumb',{breadCrumb: [{name: 'tags', path: theme.sourceRoot+'/tags'},{title: page.tag, path:  url_for(page.path)}]}) %>
</div>
<%- partial('_partial/nav-bar') %>
<div class="blog-index-container">
    <% page.posts.each(function(post) { %>
    <%- partial('_partial/article-index', {post: post}) %>
    <% })%>
</div>
<%- partial('_partial/copyright') %>