// Media width parameter
mwp-mobile = "screen and (max-width: 599px)"
mwp-tablet = "screen and (min-width: 600px) and (max-width: 999px)"
mwp-pc = "screen and (min-width: 1000px)"

// profile
master-portrait-url = "images/master_portrait.jpg"
master-name-url = "images/master_name.png"

//article
article-padding = 20px

// Colors
color-border = #ddd
color-default = #555
color-grey = #999
color-link = #f5deb3
color-background = #50616d;
color-font-light = #fff
color-sidebar-text = #777
color-widget-background = #ddd
color-widget-border = #ccc
color-footer-background = #262a30
color-mobile-nav-background = #191919
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39

// Fonts
font-mono = "PT Mono", Consolas, Monaco, Menlo, monospace;
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-size = 16px
line-height = 1.6em
line-height-title = 1.1em
