// profile
master-portrait-url = "images/master_portrait.jpg"
master-name-url = "images/master_name.png"

// Colors
color-background = #eee

// Fonts
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-size = 14px