@import "_variables"
@import "icon.styl"

@import "_partial/home-page"
@import "_partial/sidebar"
@import "_partial/archive"
@import "_partial/article"
@import "_partial/highlight"
@import "_partial/bread-crumb"
@import "_partial/article-index"
@import "_partial/post/tag"
@import "_partial/tagcloud"

body
  background: color-body-background
  font: font-size font-sans
  position: relative
  width: 100%
  height: 100%
  margin: 0