@import "_variables"
@import "icon.styl"

@import "_partial/sidebar"
@import "_partial/homepage"
@import "_partial/header"

@import "_partial/archive"
@import "_partial/article"
@import "_partial/highlight"
@import "_partial/article-index"
@import "_partial/post/tag"
@import "_partial/tagcloud"

html, body
  background: color-body-background
  font: font-size font-sans
  color: #fff
  margin: 0

.home #mainContent
  position: absolute
  min-height: 100%
  width: 100%
  box-sizing: border-box

@media mwp-mobile
  .home #mainContent
    display: none
  .others #mainContent
    padding: 100px 30px 0

@media mwp-tablet
  .home #mainContent
    height: tablet-sidebar-height
    padding: 0 0 0 200px

@media mwp-pc
  .home #mainContent
    height: whole-sidebar-height
    padding: 0 0 0 360px
