<div id="about-me">
    <div class="resume">
        <div>公历1992年,出生于内蒙古自治区的一个小县城</div>
        <div>数十载 被散养+别人家的好孩子</div>
        <div>武汉理工大学2010届本科软件工程</div>
        <div>2014年夏,入职Thoughtworks</div>
        <div>2015年春,印度参加TWU(Thoughtworks university)</div>
        <div>2015年冬,个人博客网站开放</div>
        <div>在路上......</div>
    </div>
</div>