<%- partial('_partial/nav-bar') %>
<div class="blogContents">
    <%- partial('_partial/bread-crumb') %>
    <% site.posts.each(function(post) { %>
    <%- partial('article', {post: post, blog: true}) %>
    <% }) %>
    <% if(page.total > 1){ %>
    <nav id="page-nav">
        <%- paginator({
            prev_text: '&laquo;Prev',
            next_text: 'Next &raquo;'
        }) %>
    </nav>
    <% } %>
</div>
