<div class="archives">
    <% var year %>
    <% site.posts.each(function(post) { %>
        <% post.year = date(post.date, 'YYYY')%>
        <% if( post.year !== year){ %>
            <% year = post.year; %>
            <li class="year"><%= year %></li>
        <% } %>
        <li><%=date(post.date, 'MM')%>-<%=date(post.date, 'DD')%>    <%=post.title%></li>
    <% }) %>
</div>
