<nav>
    <a href="/archives">
        <li class="left">
            ARCHIVE
        </li>
    </a>
    <a href="/categories">
        <li>
            CATEGORIES
        </li>
    </a>
    <a href="/tags">
        <li>
            TAGS
        </li>
    </a>
    <a href="/wiki">
        <li class="right">
            WIKI
        </li>
    </a>
</nav>