<nav id="type-nav">
    <a href="<% if(page.lang=== "en") { %>/en<% } %>/archives">
        <li class="left">
            <%= __('nav.archives')%>
        </li>
    </a>
    <a href="<% if(page.lang=== "en") { %>/en<% } %>/tags">
        <li>
            <%= __('nav.tags')%>
        </li>
    </a>
    <a href="<% if(page.lang=== "en") { %>/en<% } %>/">
        <li class="right">
            <%= __('nav.categories')%>
        </li>
    </a>
</nav>