<div class="profile">
    <img class="master-portrait" src="css/images/master_portrait.jpg">
    <img class="master-name" src="css/images/master_name.png">
    <span class="master-name"></span>
</div>
<!--<p class="hi">-->
    <!--<span class="dropcap">Hi</span>-->
    <!--<span class="detail">I'm Ellmi.A software engineer come from china. I'm thinking</span>-->
    <!--<span class="icon-play3"></span>-->
    <!--<span class="occupation morphext">which job I'm doing is not that important;The important thing is I want to give the world something;which is powerful,make everybody get the strength;And, I will find the guys who want to do the thing with me.</span>-->
<!--</p>-->