<div class="sidebar <% if(is_home()){ %><%= "home" %><% } %>">
    <span class="icon-menu"></span>
    <img class="master-portrait" src="/css/images/master_portrait.jpg">

    <p class="master-name"></p>

    <p class="hi">
        <span class="dropcap">嗨</span>
        <span class="detail">大家好,我是Yanmin,一名来自中国的软件开发姑娘.我在想</span>
        <span class="icon-play3"></span>
        <span class="occupation morphext">正在做的工作是什么并不重要;重要的是,想给世界带去一些作品;它有力量且给人们以勇气;并且,相信最终会找到;愿和我一起完成此事的伙伴们.</span>
    </p>

    <div class="guider">
        <% for (var i in theme.menu){ %>
        <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><span><%= i %></span></a>
        <% } %>

    </div>

    <div class="link">
        <a href="http://www.github.com/ellmi" class="icon-link">www.github.com/ellmi</a>
        <a href="http://www.yanminx.com" class="icon-link">www.yanminx.com</a>
    </div>


</div>
