ul.article-tag-list
  display: inline-block;
  padding: 0;
  margin: 0;

li.article-tag-list-item
  display: inline-block;
  color: #f5deb3;
  margin-right: 14px;

li.article-tag-list-item:before
  content: '#';
  margin-right: 5px;

a.article-tag-list-link
  color: #f5deb3;
  font-family: fantasy;

.article-footer
  height: 25px;