.archives,
.blogContents,
.tagcloud
  margin: 0 0 30px
  border-left: 4px dashed color-main-theme-color
  background: rgba(228,198,208,0.1)

@media mwp-mobile
  .archives, .blogContents, .tagcloud
    padding: 11px 22px

@media mwp-tablet
  .archives, .blogContents, .tagcloud
    padding: 17px 32px

@media mwp-pc
  .archives, .blogContents, .tagcloud
    padding: 21px 42px

#mainContent nav#type-nav
  background-color: #fffbf5;
  height: 52px;
  margin: 0 0 30px
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px);

#mainContent nav li
  display: inline-block;
  width: 25%;
  font-size: 0.9rem;
  font-family: arial;
  text-align: center;
  float: left;
  color: color-main-theme-color
  line-height: 52px;
  box-shadow: color-main-theme-color 0 4px 1px

#mainContent nav li:hover
  color: white;
  background: color-main-theme-color

#mainContent nav li.left:hover
  border-top-left-radius: 8px;

#mainContent nav li.right:hover
  border-top-right-radius: 8px;

.archives li
  font-family: fantasy;
  border-bottom: 1px dashed #ccc;
  padding: 25px 0 17px 19px

li.year
  border-bottom: none;
  font-size: 20px;
  padding: 42px 0 0;

.archives .article-title
  text-decoration: none;
  font-size: 20px;
  border-bottom: none;
  font-family: serif;

.archives li>span
    width: 57px;
    display: inline-block;