.article-index-wrapper
  background: rgba(228,198,208,0.1)
  border-left: 4px dashed color-main-theme-color
  margin-bottom: 9px

@media mwp-mobile
  .article-index-wrapper
    padding: 11px 22px

.article-index-wrapper .article-header
  padding: 0
  display: inline-block

.article-index-wrapper .article-header > h1
  margin: 0
  text-align: left

.article-index-wrapper .article-title
  font-size: 0.8em
  font-family: serif

.article-index-wrapper .article-meta
  line-height: 46px
  padding-left: 20px
  float: right

.article-index-wrapper .article-entry
  padding: 0 0 20px 0
  margin: 28px 0 14px 0
  line-height: 25px
  font-size: 0.9em
  border-bottom: 1px dashed white

.article-index-wrapper a.article-comments-count
  float: right