block-margin = 50px
mobile-nav-width = 280px
main-column = 9
sidebar-column = 3
color-default = #555
line-height-title = 1.1em
color-border = #ddd

.article-inner
  display: block
  overflow: hidden
  border-bottom: 2px dashed #e4c6d0;
  font-family: 'Source Code Pro', Consolas, Monaco, Menlo, Consolas, monospace;
  margin-bottom: 29px

.article-header
  padding: 20px 20px 0
.article-header > h1
  text-align: center;

.article-title:hover
  color: #fff;
  background: #e4c6d0;
  box-shadow: 0 0 50px #eee inset;
  transition: all 1s;
  border-radius: 10px;
  padding: 3px 9px;

.article-title
  text-decoration: none
  font-size: 1.4em;
  font-weight: bold
  color: wheat
  border-bottom: 1px dashed #ccc;
  padding-bottom: 3px;

.article-meta
  padding: 0 20px
  text-align: center;

a.article-date,
a.article-comments-count
  text-decoration: none;
  font-weight: lighter;
  font-family: fantasy;
  color: #999

a.article-comments-count
  display: inline-block;
  width: 90px;
  height: 30px;

a.article-date:after,
a.article-comments-count:after
  content: ''
  padding-left :10px
  height: 11px;
  display: inline-block;
  border-right: 1px dashed #ccc;

.article-entry
  color: color-default
  padding: 0 20px
  p, table
    line-height: line-height
    margin: line-height 0
  h1, h2, h3, h4, h5, h6
    font-weight: bold
  h1, h2, h3, h4, h5, h6
    line-height: line-height-title
    margin: line-height-title 0
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    margin-top: line-height
    margin-bottom: line-height
  img, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
  iframe
    border: none
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
  th
    font-weight: bold
    border-bottom: 3px solid color-border
    padding-bottom: 0.5em
  td
    border-bottom: 1px solid color-border
    padding: 10px 0
  blockquote
    font-size: 1.4em
    margin: line-height 20px
    quotes: "\201C" "\201D" "\2018" "\2019";
    background-color: rgba(0,0,0,0.1);
    border-left: 8px #ccc solid;
    footer
      font-size: font-size
      margin: line-height 0
  blockquote p
    display: inline;
  blockquote:before
    color: #ccc;
    content: open-quote;
    font-size: 2em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;

  .pullquote
    text-align: left
    width: 45%
    margin: 0

  .caption
    color: color-grey
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center


