.article-index-wrapper
  background: #fffbf5;
  border-left: 4px dashed #0099d5;
  margin-bottom: 5px;
  padding: 20px 40px;
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px)

.article-index-wrapper .article-header
  padding: 0;
  display: inline-block;

.article-index-wrapper .article-header > h1
  display: inline-block;
  margin: 0;

.article-index-wrapper .article-title
  font-size: 0.8em;
  font-family: serif;

.article-index-wrapper .article-meta
  padding: 0 20px;
  line-height: 39px;
  display: inline-block;
  float: right;

.article-index-wrapper .article-entry
  color: #716f69;
  padding: 0 0 20px 0;
  margin: 28px 0;
  line-height: 25px;
  font-size: 0.9em;
  border-bottom: 1px dashed #ccc;

.article-index-wrapper a.article-comments-count
  float: right;