.bread-crumb
  color: #e4c6d0
  margin: 46px 0 20px 82px;
  border-left: 9px double #e4c6d0;
  padding: 7px 9px;
  border-right: 9px double #e4c6d0;
  display: inline-block;
  background-color: #f5f5f5;
  box-shadow: #e4c6d0 0 0 10px;

.bread-crumb a
  text-decoration: none
  color: #e4c6d0;
  margin: 0 5px;

.bread-crumb:before
  content: "";
  position: absolute;
  border-top: 3px solid #e4c6d0;
  width: 82px;
  left: 0;
  top: 60px;

@media screen and (max-width: 1000px)
  .bread-crumb:before
    width: 30px;
  .bread-crumb
    margin: 46px 0 20px 30px;