.cb-bar
  height: 42px
  line-height: 42px
  background-color: #f5f5f5
  margin-top: 30px
  color:#50616d
  padding: 0 16px
  font-weight: bold
  background-image: repeating-linear-gradient(-45deg, #fff, #fff 4px, transparent 4px, transparent 8px)

.cb-content
  border: 1px solid #f5f5f5
  border-top: none

span.openedarrow
  float: right
  margin-top: 15px
  border-bottom: solid 9px #a9a9a9
  border-left: solid 9px transparent
  border-right: solid 9px transparent

span.closedarrow
  float: right
  margin-top: 15px
  border-top: solid 9px #a9a9a9
  border-left: solid 9px transparent
  border-right: solid 9px transparent

.content-hided
  display: none