.header
  margin-Top: 52px
  margin-bottom: 42px
  margin-right: 49px

@media mwp-mobile
  #lang-select-label span
    display: none

@media mwp-tablet
  #lang-select-label span
    display: none

select#lang-select
  position: absolute
  top: 0
  left: 0
  width: 100%
  opacity: 0

@media mwp-mobile
  #lang-select-label span
    display: none
  div#lang-select-wrap
    position: absolute
    right: 42px
    top: 158px
    font-size: 22px
  .bread-crumb:before
    width: 30px
    left: 0
    top: 168px

@media mwp-tablet
  .bread-crumb:before
    width: table-article-space
    left: 200px
    top: 68px
  div#lang-select-wrap
    position: absolute
    right: table-article-space
    top: 54px
    font-size: 22px


@media mwp-pc
  #lang-select-label>*
    vertical-align: middle
  .bread-crumb:before
    width: pc-article-space
    left: 360px
    top: 68px
  div#lang-select-wrap
    position: absolute
    right: pc-article-space
    top: 54px
    font-size: 16px

.bread-crumb
  color: color-main-theme-color
  border-right: 9px double color-main-theme-color
  border-left: 9px double color-main-theme-color
  box-shadow: color-main-theme-color 0 0 10px
  display: inline-block
  padding: 7px 9px
  background-color: #f5f5f5
  white-space: nowrap
  overflow-x: scroll
  max-width: 85%

.bread-crumb a
  text-decoration: none
  color: color-main-theme-color
  margin: 0 5px

.bread-crumb:before
  content: ""
  position: absolute
  border-top: 3px solid color-main-theme-color
