@media mwp-tablet
  .home #mainContent .guider
    margin: 234px auto 0
  .home #mainContent .guider span
    color: #f5f5f5
  .home .master-portrait
    margin-top: 187px
    border: 12px solid rgba(215,215,215,0.3)
    height: 90px
    width: 90px
@media mwp-pc
  .home #mainContent .guider
    margin: 234px auto 0
  .home #mainContent .guider span
    color: #f5f5f5
  .home .master-portrait
    margin-top: 187px
    border: 12px solid rgba(215,215,215,0.3)
    height: 90px
    width: 90px
