@media mwp-tablet
  .home #mainContent .guider
    margin: 234px auto 0
  .home #mainContent .guider span
    color: #f5f5f5
  .home .master-portrait
    margin-top: 187px
    border: 12px solid rgba(215,215,215,0.3)
    height: 90px
    width: 90px
@media mwp-pc
  .home #mainContent .guider
    margin: 234px auto 0
  .home #mainContent .guider span
    color: #f5f5f5
  .home .master-portrait
    margin-top: 187px
    border: 12px solid rgba(215,215,215,0.3)
    height: 90px
    width: 90px

.white-year,
.ink-year
  font-size: 4rem
  position: fixed
  top: 38%
.white-year
  color: #f5f5f5
  right: 50%
  z-index: 2
.ink-year
  color: #50616d

@media mwp-pc
  .year-background
    position: fixed
    top: 38%
    height: 80px
    width: 90px
  .right-year
    background: #f5f5f5
    border-radius: 0 50% 50% 0
    z-index: -1
  .left-year
    background: #50616d
    right: 50%
    z-index: 1
    border-radius: 50% 0 0 50%
