
select#lang-select
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

div#lang-select-wrap
  position: relative;
  margin: 54px 0 0
  float: right;
  color: color-font-light;
  font-size: 15px;
  display: inline-block;


@media screen and (max-width: 1000px)
  div#lang-select-wrap
    margin: 54px 0 0

  #lang-select-label>*
    vertical-align: middle;