nav#pagination
  margin: 42px 0
  text-align: center
  border-top: 1px dashed color-main-theme-color

#pagination .prev:hover,
#pagination .next:hover,
#pagination .page-number:hover,
#pagination .page-number.current
  color: #fff
  background: color-main-theme-color
  border-top-color: color-main-theme-color

.page-number-basic,
#pagination .prev,
#pagination .next,
#pagination .page-number,
#pagination .space
  display: inline-block
  position: relative
  line-height: 30px
  top: -1px
  margin: 0 10px
  padding: 0 10px
