.profile
  position: fixed
  background-color: whitesmoke
  bottom: 0
  top: 0
  left: 0
  width: 360px
  box-shadow: #ccc 0 0 10px
  border-right: 1px solid #ddd

.master-portrait
  display: block
  height: 80px
  width: 80px
  border-radius: 50%
  margin: 30px 140px
  transition: all 0.5s ease

.master-portrait:hover
  transform: rotate(360deg)
  -webkit-transform: rotate(360deg)

.master-name
  display: block
  width: 172px
  height: 60px

@media screen and (max-width: 600px)
  .profile
    width: 100%
    height 100px

  .master-portrait
    height: 50px
    width: 50px
