.tagcloud a
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: #f5deb3;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 3px;
  margin: 0 6px;

.tagcloud a:hover
  color: #fff;
  background: #e4c6d0;
  box-shadow: 0 0 50px #eee inset;
  transition: all 1s;
  border-radius: 10px;
  padding: 3px 9px;

.tagcloud
  text-align: center;